* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ======== Global Start ========= */
html {
  scroll-behavior: smooth;
}

/* Works on Firefox */
a,
a:hover {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

:root {
  --img_one: url("../image/okk.jpg");
  --white: rgb(255, 255, 255);
  --black:black;
  --red: #d30015;
  --yellow: #ffd700;
  --blue: rgb(0, 26, 35);
  --pink: rgb(107, 0, 45);
  --pink1: rgb(54, 0, 22);
  --indigo: #5e01f3;
  --pest: #08e6d3;
  --gray: #848ba0;
  --dark-gray: #535353;
  --color1:#5c86fd;
  --color2: #bdaacc;
  --color3: rgb(7, 16, 102);
  --color4: #13203c;
  --color5:rgba(255, 255, 255, 0.15);
  --rgb_one:rgba(0, 0, 0, 0) linear-gradient(to top, rgb(0, 4, 40), rgb(0, 4, 40)) repeat scroll 0% 0% !important;
  --rgb_two:rgba(0, 0, 0, 0) linear-gradient(to top, rgb(0, 4, 40), rgb(0, 4, 40)) repeat scroll 0% 0% !important;
  --zindex_top:3;
  --zindex_mid:2;
  --zindex_low:1;
  --zindex_none:0;
}

.containers {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5px;
  padding-left: 5px;
}

/* ======== Global End ========= */
header {
  margin-bottom: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

header .importantLinks {
  height: 9vh;
  width: 100%;
  background-color: #6b002d;
  position: relative;
}

header .importantLinks .links {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding: 0 10px;
}

header .importantLinks .links i, header .importantLinks .links a {
  font-size: 13px;
  margin: 0 5px;
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
}

header .importantLinks .links i:hover, header .importantLinks .links a:hover {
  margin-left: 10px;
}

header .importantLinks .links .top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

header .importantLinks .links .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

header .importantLinks .event {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5%;
  height: 100%;
  height: 80px;
  width: 80px;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  z-index: 2;
}

header .importantLinks .event .image img {
  height: 80px;
  width: 80px;
}

header .slider {
  height: 30vh;
  width: 100%;
  z-index: 1;
  position: relative;
}

header .slider .slick-dots {
  display: none !important;
}

header .slider .slickItem {
  height: 100%;
  width: 100%;
}

header .slider .slickItem img {
  height: 30vh;
  width: 100%;
}

header .slider .slickItem .text {
  display: block;
  position: absolute;
  width: 230px;
  color: #fff;
  top: 150px;
  left: 16px;
  background-color: black;
  opacity: 0.5;
  padding: 3px 10px;
}

header .slider .slickItem .text h2 {
  color: #fff;
  font-size: 16px;
}

header .slider .slickItem .text .reds {
  height: 3px;
  background-color: #610b00;
  width: 150px;
  margin: 5px 0;
}

header .slider .slickItem .text p {
  display: none;
}

header .slider .slickItem.slick-active .text {
  -webkit-animation: fadeInUp ease 2s;
          animation: fadeInUp ease 2s;
  opacity: 0.8 !important;
}

header .slider .slick-prev, header .slider .slick-next {
  display: none !important;
}

header .slider .prev, header .slider .next {
  position: absolute;
  cursor: pointer;
  top: 45%;
  z-index: 3;
  font-size: 15px;
  height: 20px;
  width: 20px;
  background-color: #6b002d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .slider .prev i, header .slider .next i {
  color: white;
}

header .slider .prev {
  left: 0%;
}

header .slider .next {
  right: 0%;
}

header .slider::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sticky {
  color: white;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100 !important;
  height: 70px;
  /* -------------------------- */
}

.sticky .containers {
  height: 100%;
  width: 100%;
}

.sticky .containers .holder {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #6b002d;
}

.sticky .containers .holder .image {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
  width: 70px;
  z-index: 100 !important;
}

.sticky .containers .holder .image img {
  height: 70px;
  width: 100%;
  display: block;
}

.sticky .containers .holder .heighlight {
  width: 93%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sticky .containers .holder .heighlight .marquee {
  font-size: 15px;
}

.sticky .containers .holder .heighlight .role {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sticky .containers .holder .heighlight .role span {
  font-size: 12px;
  color: white;
}

.sticky .containers .holder .header {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sticky .containers .holder .header .text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  max-width: 80%;
  text-align: center;
  padding-left: 22%;
}

.sticky .containers .holder .header .text h1 {
  display: none;
  font-size: 15px;
  font-weight: bold;
}

.sticky .containers .holder .header .text h2 {
  font-size: 14px;
  font-weight: bold;
}

.sticky .containers .holder .header .toggles {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  max-width: 10%;
  height: 35px;
  width: 35px;
  border-radius: 3px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: all 650ms;
  transition: all 650ms;
}

.sticky .containers .holder .header .toggles .line,
.sticky .containers .holder .header .toggles .line:before,
.sticky .containers .holder .header .toggles .line:after {
  height: 2.5px;
  width: 22px;
  border-radius: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
  background-color: white;
}

.sticky .containers .holder .header .toggles .line:before {
  content: "";
  position: absolute;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.sticky .containers .holder .header .toggles .line:after {
  content: "";
  right: 0;
  position: absolute;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.sticky .containers .holder .header .toggles .line.active {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  background-color: transparent;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.sticky .containers .holder .header .toggles .line.active:before {
  -webkit-transform: rotate(45deg) translate(22px, -22px);
          transform: rotate(45deg) translate(22px, -22px);
}

.sticky .containers .holder .header .toggles .line.active:after {
  -webkit-transform: rotate(-45deg) translate(22px, 22px);
          transform: rotate(-45deg) translate(22px, 22px);
}

.sticky .containers .holder {
  /* Works on Firefox*/
  /* Works on Chrome, Edge, and Safari */
}

.sticky .containers .holder .navigation {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  right: 0;
  -webkit-transition: display .3s;
  transition: display .3s;
  pointer-events: painted;
  z-index: 500;
  display: none;
  cursor: pointer;
  background-color: #003029;
  max-height: 55vh !important;
  overflow-y: auto;
  scrollbar-width: thin;
}

.sticky .containers .holder .navigation .main-ul {
  width: 100% !important;
}

.sticky .containers .holder .navigation .main-ul li.main-li {
  position: relative;
  width: 100% !important;
  margin-bottom: 2px;
  border-bottom: 1px solid #868686;
  cursor: pointer;
}

.sticky .containers .holder .navigation .main-ul li.main-li input {
  display: none;
}

.sticky .containers .holder .navigation .main-ul li.main-li label {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.sticky .containers .holder .navigation .main-ul li.main-li label span {
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 400;
}

.sticky .containers .holder .navigation .main-ul li.main-li label i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .3s;
  transition: .3s;
  color: white;
  z-index: 2;
}

.sticky .containers .holder .navigation .main-ul li.main-li label.active {
  background-color: #500222;
}

.sticky .containers .holder .navigation .main-ul li.main-li label.active span {
  margin-left: 5px;
  color: #ffffff !important;
}

.sticky .containers .holder .navigation .main-ul li.main-li label.active i {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  color: #ffffff !important;
}

.sticky .containers .holder .navigation .main-ul li.main-li a {
  width: 100% !important;
  display: block;
  color: white;
  padding: 10px;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 400;
}

.sticky .containers .holder .navigation .main-ul li.main-li:hover {
  background-color: #01443a;
}

.sticky .containers .holder .navigation .main-ul li.main-li:hover > label > span, .sticky .containers .holder .navigation .main-ul li.main-li:hover > a {
  margin-left: 5px;
}

.sticky .containers .holder .navigation .main-ul li.main-li:hover > label > i {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.sticky .containers .holder .navigation .main-ul li.main-li.drop ul.dropdowns {
  background-color: #383838;
  display: none;
}

.sticky .containers .holder .navigation .main-ul li.main-li.drop ul.dropdowns li.drop-li {
  padding-left: 25px;
}

.sticky .containers .holder .navigation .main-ul li.main-li.drop ul.dropdowns li.drop-li i {
  color: #fff;
}

.sticky .containers .holder .navigation .main-ul li.main-li.drop ul.dropdowns li.drop-li:hover > label > span, .sticky .containers .holder .navigation .main-ul li.main-li.drop ul.dropdowns li.drop-li:hover > a {
  margin-left: 5px;
  color: #860038;
}

.sticky .containers .holder .navigation .main-ul li.main-li.drop ul.dropdowns li.drop-li:hover > label > i {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  color: #6b002d;
}

.sticky .containers .holder .navigation .main-ul li.main-li.drop ul.dropdowns li.drop-li ul.second {
  display: none;
}

.sticky .containers .holder .navigation .main-ul li.main-li.megas .mega {
  background-color: #383838;
  display: none;
  width: 100%;
  height: 30vh;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.sticky .containers .holder .navigation .main-ul li.main-li.megas .mega .contents {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.sticky .containers .holder .navigation .main-ul li.main-li.megas .mega .contents .top, .sticky .containers .holder .navigation .main-ul li.main-li.megas .mega .contents .bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sticky .containers .holder .navigation .main-ul li.main-li.megas .mega .contents .top ul, .sticky .containers .holder .navigation .main-ul li.main-li.megas .mega .contents .bottom ul {
  width: 100%;
  height: 100%;
}

.sticky .containers .holder .navigation .main-ul li.main-li.megas .mega .contents .top ul li, .sticky .containers .holder .navigation .main-ul li.main-li.megas .mega .contents .bottom ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky .containers .holder .navigation .main-ul li.main-li.megas .mega .contents .top ul li:hover > a, .sticky .containers .holder .navigation .main-ul li.main-li.megas .mega .contents .bottom ul li:hover > a {
  margin-left: 5px;
  color: #860038;
}

.sticky .containers .holder .navigation .main-ul li.main-li:last-child {
  text-align: center;
  border: none;
  padding: 10px 100px;
}

.sticky .containers .holder .navigation .main-ul li.main-li:last-child .btn {
  display: inline-block;
  padding: .5rem 1.3rem;
  font-size: .7rem;
  background-color: #6b002d;
  border-radius: 2rem;
  line-height: 1;
  margin: 0 .2rem;
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

.sticky .containers .holder .navigation {
  scrollbar-width: thin;
  scrollbar-color: #f5f1f3 #003029;
}

.sticky .containers .holder .navigation::-webkit-scrollbar {
  width: 10px;
}

.sticky .containers .holder .navigation::-webkit-scrollbar-button {
  width: 17px;
  height: 17px;
}

.sticky .containers .holder .navigation::-webkit-scrollbar-track {
  background: #003029;
}

.sticky .containers .holder .navigation::-webkit-scrollbar-thumb {
  background-color: #f5f1f3;
  border-radius: 20px;
  border: 2px solid #003029;
}

/* Media Query Start */
@media screen and (min-width: 576px) {
  .containers {
    max-width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .containers {
    max-width: 800px;
  }
  header {
    margin: 0;
    overflow: hidden;
  }
  header .importantLinks {
    height: 10vh;
    position: relative;
  }
  header .importantLinks .links {
    left: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .importantLinks .links .top, header .importantLinks .links .bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .importantLinks .links i, header .importantLinks .links a {
    font-size: 15px;
    margin: 0 10px;
    color: white;
  }
  header .importantLinks .links .bottom {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .importantLinks .event {
    right: 2%;
    height: 100px;
    width: 120px;
    background-color: black;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
  header .importantLinks .event .image img {
    height: 100px;
    width: 120px;
  }
}

@media screen and (min-width: 992px) {
  .containers {
    max-width: 1050px;
  }
  header {
    margin: 0;
    overflow: hidden;
  }
  header .importantLinks {
    height: 10vh;
    position: relative;
  }
  header .importantLinks .links {
    left: 10%;
  }
  header .importantLinks .event {
    right: 10%;
  }
  header .slider {
    height: 70vh;
  }
  header .slider .slickItem img {
    height: 70vh;
  }
  header .slider .slickItem .text {
    width: 400px;
    top: 300px;
    left: 100px;
  }
  header .slider .slickItem .text h2 {
    font-size: 22px;
  }
  header .slider .slickItem .text .reds {
    width: 250px;
  }
  header .slider .slickItem .text p {
    display: block;
  }
  header .slider .prev, header .slider .next {
    font-size: 20px;
    height: 40px;
    width: 40px;
  }
  .sticky .containers .holder {
    overflow: visible;
  }
  .sticky .containers .holder .image {
    top: 0px;
    left: 0% !important;
    width: 110px;
    height: 110px;
    z-index: 3;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
  }
  .sticky .containers .holder .image img {
    height: 100%;
    width: 100%;
  }
  .sticky .containers .holder .heighlight {
    width: 90%;
    margin: 0 auto;
    padding-left: 30px;
  }
  .sticky .containers .holder .heighlight .marquee {
    font-size: 18px;
  }
  .sticky .containers .holder .heighlight .role {
    height: 35px;
    width: 35px;
  }
  .sticky .containers .holder .heighlight .role span {
    font-size: 20px;
  }
  .sticky .containers .holder .header .text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 5px 30px;
  }
  .sticky .containers .holder .header .text h2 {
    font-size: 25px;
    font-weight: bold;
  }
  .sticky .containers .holder .header .toggles {
    display: none;
  }
  .sticky .containers .holder .navigation {
    z-index: 2 !important;
    background-color: #6b002d;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.7);
            box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    display: block;
    max-height: 100% !important;
    overflow: visible;
  }
  .sticky .containers .holder .navigation .main-ul {
    height: 100%;
    width: 80% !important;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    position: relative !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li {
    margin-bottom: 0px;
    position: initial !important;
    border: none;
    text-align: center;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li label {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li label span {
    color: black;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .sticky .containers .holder .navigation .main-ul li.main-li label i {
    color: black;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .sticky .containers .holder .navigation .main-ul li.main-li label.active {
    background: none;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li label.active span {
    margin-left: 0px !important;
    color: #ba004e !important;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li label.active i {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    color: #ba004e !important;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li a {
    width: 100% !important;
    display: block;
    color: black;
    padding: 10px;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .sticky .containers .holder .navigation .main-ul li.main-li .mega {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    display: none;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li .mega .contents {
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #383838;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li .mega .contents .top, .sticky .containers .holder .navigation .main-ul li.main-li .mega .contents .bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li .mega .contents .top ul, .sticky .containers .holder .navigation .main-ul li.main-li .mega .contents .bottom ul {
    width: 100%;
    height: 100%;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li .mega .contents .top ul li, .sticky .containers .holder .navigation .main-ul li.main-li .mega .contents .bottom ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li .mega .contents .top ul li:hover > a, .sticky .containers .holder .navigation .main-ul li.main-li .mega .contents .bottom ul li:hover > a {
    margin-left: 5px;
    color: #860038;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li:hover {
    background: none;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li:hover > label > span, .sticky .containers .holder .navigation .main-ul li.main-li:hover > a {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    margin-left: 5px;
    color: #860038;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li:hover > label > i {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    color: #6b002d;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li.drop {
    position: relative !important;
    text-align: left !important;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li.drop ul.dropdowns {
    background-color: #383838;
    display: none;
    position: absolute;
    left: 0;
    min-width: 300px;
    width: 100%;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li.drop ul.dropdowns li.drop-li {
    position: relative !important;
    padding: 0;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li.drop ul.dropdowns li.drop-li a {
    color: #fff;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li.drop ul.dropdowns li.drop-li label span {
    color: white;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li.drop ul.dropdowns li.drop-li label i {
    color: white;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li.drop ul.dropdowns li.drop-li i {
    color: #fff;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li.drop ul.dropdowns li.drop-li:hover > label > span, .sticky .containers .holder .navigation .main-ul li.main-li.drop ul.dropdowns li.drop-li:hover > a {
    margin-left: 5px;
    color: #ba004e;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li.drop ul.dropdowns li.drop-li:hover > label > i {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    color: #ba004e;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li.drop ul.dropdowns li.drop-li ul.second {
    background-color: #383838;
    width: 100%;
    position: absolute !important;
    left: 100% !important;
    top: 0;
    display: none;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li.megas .mega {
    overflow-y: hidden;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li.megas .mega .contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    background-color: #383838;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li.megas .mega .contents .top ul li, .sticky .containers .holder .navigation .main-ul li.main-li.megas .mega .contents .bottom ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    text-align: left;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li.megas .mega .contents .top ul li a, .sticky .containers .holder .navigation .main-ul li.main-li.megas .mega .contents .bottom ul li a {
    color: #fff;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li.megas .mega .contents .top ul li:hover > a, .sticky .containers .holder .navigation .main-ul li.main-li.megas .mega .contents .bottom ul li:hover > a {
    margin-left: 5px;
    color: #860038;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li:last-child {
    padding: 0px;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li:last-child .btn {
    padding: .5rem 1.3rem;
    background-color: #6b002d;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li:last-child .btn span, .sticky .containers .holder .navigation .main-ul li.main-li:last-child .btn i {
    color: #fff !important;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li:last-child .btn i {
    color: #fff !important;
    font-weight: bold !important;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li:last-child:hover > .btn {
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
  }
  .sticky .containers .holder .navigation .main-ul li.main-li:last-child:hover > .btn span, .sticky .containers .holder .navigation .main-ul li.main-li:last-child:hover > .btn i {
    color: #fff !important;
  }
}

@media screen and (min-width: 1200px) {
  .containers {
    max-width: 1240px;
  }
  .sticky .containers .holder {
    overflow: visible;
  }
  .sticky .containers .holder .image {
    width: 110px;
    height: 107px;
    left: 2% !important;
  }
}

/* Media Query End */
/*# sourceMappingURL=style.css.map */