.containers{
    width:100%;
    margin-right:auto;
    margin-left:auto;
    padding-right:5px;
    padding-left:5px;
}


@mixin sm_container{
    .containers{
      max-width: 640px;
    }
}
@mixin md_container {
    .containers{
      max-width: 800px;
    }
}
@mixin lg_container {
    .containers{
      max-width: 1050px;
    }
}
@mixin xl_container {
    .containers{
      max-width: 1240px;
    }
}

