*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* ======== Global Start ========= */
html{
    scroll-behavior: smooth;
}
/* Works on Firefox */

a,
a:hover {
	text-decoration: none !important;
}
ul{
    list-style-type: none;
}
@import'./variable';
@import'./container';



















/* ======== Global End ========= */