.sticky{
    .containers{
        .holder{
            .navigation{
                position: absolute;
                top: 100%;
                width: 100%;
                left: 0;
                right: 0;
                transition: display .3s;
                pointer-events: painted;
                z-index: 500;
                display: none;
                background-color: #272727;
                cursor: pointer;
                .start{
                    width: 100%;
                    .links{
                        flex: initial;
                        width: 100%;
                        .nav-ul{
                            display: flex;
                            flex-direction: column;
                            .nav-links{
                                width: 100%;
                                border-bottom: 1px solid #535353;
                                transition: .3s;
                                padding:10px 10px;
                                position: relative;
                                a{
                                    width: 100% !important;
                                    letter-spacing: 1px;
                                    font-size: 17px;
                                    transition: .5s;
                                    color: #fff;
                                    position: relative;
                                    &:hover{
                                        color: chartreuse;
                                    }
                                }
                                i{
                                    position: absolute;
                                    color: #ffffff;
                                    right: 12px;
                                    transition: all 650ms;
                                    transform: rotate(0deg);
                                    transition: .3s;
                                    z-index: 2;
                                }
                                .fas.fa-caret-down.active{
                                    transform: rotate(-180deg);
                                    color: #860038;
                                }

                                
                                .mega{
                                    margin-top: 10px;
                                    width: 100%;
                                    display: none;
                                    .contents{
                                        height: 100%;
                                        width: 100%;
                                        background-color: rgb(0, 141, 106);
                                        .top{
                                            width: 100%;
                                            display: flex;
                                            flex-direction: column;
                                            .first,.second,.third,.fourth{
                                               display: flex;
                                               align-items: center;
                                               justify-content: space-between;
                                               .one,.two{
                                                    width: 100%;
                                                    height: 100%;
                                                    //border: 1px solid #fff;
                                                    ul{
                                                        li{
                                                            padding: 5px 10px;
                                                            color: #fff;
                                                            span{
                                                                color: rgb(255, 255, 255);
                                                            }
                                                            a{
                                                               color: #fff;
                                                               margin-left: 5px;
                                                            }
                                                            &:hover {
                                                                //text-decoration: underline !important;
                                                                background-color: rgb(44, 44, 44);
                                                            }

                                                            &:hover span{
                                                               color: #6b002d;
                                                            }

                                                        }
                                                    }
                                               }
                                               .one{
                                                background-color: rgb(56, 56, 56);
                                               }
                                               .two{
                                                background-color: rgb(56, 56, 56);
                                               }
                                            }

                                        }

                                    }
                                }

                                &:hover a{
                                   margin-left: 5px;
                                   color: #860038;
                                }

                                &:hover i{
                                   transform: rotate(-180deg);
                                   color: #6b002d;
                                }
                            }
                        }
                        .nav-links:last-child{
                            text-align: center;
                            .btn{
                                display: inline-block;
                                padding: .5rem 1.3rem;
                                font-size: .7rem;
                                background-color:  rgb(107, 0, 45);
                                border-radius: 2rem;
                                line-height: 1;
                                margin: 0 .2rem;
                                transition: .3s;
                                text-transform: uppercase;
                                font-weight: bold;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}




@mixin sticky_navigation {
    .sticky{
        .containers{
            .holder{
            .navigation{
                display: block;
                z-index: 2 !important;
                background-color: rgb(107, 0, 45);
                .start{
                    width: 100%;
                    margin: 0 auto; 
                    padding-left: 60px;
                    .links{
                        flex: 0 0 100%;
                        max-width: 100%;
                        .nav-ul{
                            height: 80%;
                            flex-direction: row !important;
                            position:  relative!important;
                            align-items: center;
                            background-color: rgb(255, 255, 255);
                            box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.7);
                            .nav-links{
                                position: initial !important;
                                border: none;
                                padding:5px 5px;
                                text-align: center;
                                a{
                                    letter-spacing: 1px;
                                    font-size: 15px;
                                    transition: .5s;
                                    font-weight: bold;
                                    color: rgb(0, 0, 0);
                                }
                                i{
                                    position: unset !important;
                                    color: rgb(107, 0, 45);
                                    
                                }
                                
                                .mega{
                                    position: absolute !important;
                                    left: 0 !important;
                                    width: 60% !important;
                                    right: 0;
                                    margin: 0 auto;
                                    top: 100%;
                                    .contents{
                                        height: 100%;
                                        background-color: rgb(0, 141, 106);
                                        .top{
                                            width: 100%;
                                            display: flex;
                                            flex-direction: column;
                                            .first,.second,.third,.fourth{
                                               display: flex;
                                               align-items: center;
                                               justify-content: space-between;
                                               .one,.two{
                                                    width: 100%;
                                                    height: 100%;
                                                    border: 1px solid rgb(88, 88, 88);
                                                    ul{
                                                        li{
                                                            text-align: left;
                                                            padding: 5px 10px;
                                                            color: #fff;
                                                            span{
                                                                color: rgb(255, 255, 255);
                                                            }
                                                            a{
                                                               color: #fff;
                                                               margin-left: 5px;
                                                            }
                                                        }
                                                    }
                                               }
                                            }

                                        }

                                    }
                                }

                                &:hover a{
                                   margin-left: 2px;
                                }

                                &:hover i{
                                   color: #6b002d;
                                }
                            }
                        }
                    }
                }
            }
        }
        }
    }
}


@mixin xl_sticky_navigation {
    .sticky{
        .containers{
            .holder{
            .navigation{
                .start{
                    width: 90%;
                    padding-left: 60px;
                    .links{
                        flex: 0 0 100%;
                        max-width: 100%;
                        .nav-ul{
                            height: 100%;
                            flex-direction: row !important;
                            position:  relative!important;
                            align-items: center;
                            background-color: rgb(255, 255, 255);
                            box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.7);
                            .nav-links{
                                position: initial !important;
                                border: none;
                                padding:5px 5px;
                                text-align: center;
                                a{
                                    letter-spacing: 1px;
                                    font-size: 15px;
                                    transition: .5s;
                                    color: rgb(0, 0, 0);
                                }
                                i{
                                    position: unset !important;
                                    color: rgb(107, 0, 45);
                                    
                                }
                                
                                .mega{
                                    position: absolute !important;
                                    left: 0 !important;
                                    width: 60% !important;
                                    right: 0;
                                    margin: 0 auto;
                                    top: 100%;
                                    .contents{
                                        height: 100%;
                                        background-color: rgb(0, 141, 106);
                                        .top{
                                            width: 100%;
                                            display: flex;
                                            flex-direction: column;
                                            .first,.second,.third,.fourth{
                                               display: flex;
                                               align-items: center;
                                               justify-content: space-between;
                                               .one,.two{
                                                    width: 100%;
                                                    height: 100%;
                                                    border: 1px solid rgb(88, 88, 88);
                                                    ul{
                                                        li{
                                                            padding: 5px 10px;
                                                            color: #fff;
                                                            span{
                                                                color: rgb(255, 255, 255);
                                                            }
                                                            a{
                                                               color: #fff;
                                                               margin-left: 5px;
                                                            }
                                                        }
                                                    }
                                               }
                                            }

                                        }

                                    }
                                }

                                &:hover a{
                                   margin-left: 2px;
                                }

                                &:hover i{
                                   color: #6b002d;
                                }
                            }
                        }
                    }
                }
            }
        }
        }
    }
}
