
.sticky{
    color: white;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100 !important;
    height: 70px;/* -------------------------- */
    .containers{
        height: 100%;
        width: 100%;
        .holder{
            position: relative;
            height: 100%;
            width: 100%;
            background-color: rgb(107, 0, 45);
            .image{
                position: absolute;
                left: 0px;
                top: 0px;
                bottom: 0px;
                height: 100%;
                width: 70px;
                z-index: 100 !important;
                img{
                    height: 70px;
                    width: 100%;
                    display: block;
                    //border: 2px solid black;
                } 
            }
        }
    }
}



@mixin sticky_image {
    .sticky{
        .containers{
            .holder{
                overflow: visible;
                .image{
                    top: 0px;
                    left: 0% !important;
                    width: 110px;
                    height: 110px;
                    z-index: 3;
                    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
                    img{
                        height: 100%;
                        width: 100%;
                    } 
                }
            }
        }
    }
}


@mixin xl_sticky_image {
    .sticky{
        .containers{
            .holder{
                overflow: visible;
                .image{
                    width: 110px;
                    height: 107px;
                    left: 2% !important; 
                }
            }
        }
    }
}